[submodule "TP-Statistical-Learning"]
	path = TP-Statistical-Learning
	url = https://github.com/Concombrero/TP-Statistical-Learning.git
[submodule "Complementary"]
	path = Complementary
	url = https://github.com/Concombrero/Stat-Complementary.git
